*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

.dash-cont{
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash-header{
    padding: 0px 10px;
}

.dash-title{
    font-family: var(--body-font-family);
    font-size: var(--headline-font-size);
    font-weight: 500;
    color: var(--on-secondary-container);
}
.dash-list-cont{
    width: 100%;
    height: 100vh;
    padding: 0 10px;
}